<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<title>Bookstore</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body style = "padding: 15px">
	<h1>Books</h1>
	<h2>Logged in as <span sec:authentication = "name"></span></h2>
	<h2>Roles:
		<th:block th:each = "role, iterStatus:${#authentication.getAuthorities()}">
	    	<th:block th:text = "${role}" ></th:block>
	    	 <!-- Tämä ehtolauseke ei tee juuri nyt mitään, mutta jos rooleja (authorities-attribuutteja) olisi useampi niin pilkut menisivät oikein-->
	    	<th:block th:if = "${!iterStatus.last}">, </th:block>
		</th:block>
	</h2>
	<div>
		<form th:action = "@{/logout}" method = "post">
			<input type = "submit" value = "Sign Out" class = "btn btn-sm btn-danger"/>
		</form>
	</div>
	<table class = "table table-striped">
		<tbody>
			<tr>
				<th>Author</th>
				<th>Title</th>
				<th>ISBN</th>
				<th>Year</th>
				<th>Category</th>
				<th></th><!-- Extra header so that css looks nice -->
				<th sec:authorize="hasAuthority('ADMIN')"> </th>
			</tr>
			<tr th:each = "book : ${books}">
				<td th:text = "${book.author}">Author</td>
				<td th:text = "${book.title}">Title</td>
				<td th:text = "${book.isbn}">ISBN</td>
				<td th:text = "${book.year}">Year</td>
				<td th:text = "${book.category.name}">Category</td>
				<td>
					<a class = "btn btn-success" th:href = "@{/edit/{id}(id = ${book.id})}">Edit</a>
				</td>
				<td sec:authorize = "hasAuthority('ADMIN')">
					<a class = "btn btn-danger" th:href = "@{/delete/{id}(id = ${book.id})}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
	<a class = "btn btn-success" href = "/add" >New Book</a>

</body>
</html>